<div class="card">
  <div class="card-header">
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="card text-center  jss370 MuiGrid-justify-xs-space-evenly">
          <p class="MuiTypography-root jss369 MuiTypography-body1">
            فایل posconfig باراهنما
          </p>
          <div class="MuiGrid-root one">

            <a class="MuiButtonBase-root MuiButton-root MuiButton-outlined MuiButton-outlinedPrimary jss368"
               href="https://www.razi24.ir/download/BimeRequirement/AyandehPOSConfig.rar">
             <span class="MuiButton-label">

              <img class="MuiSvgIcon-root" src="../../../../../assets/image/cloud-computing.png">
                            </span>

            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card text-center  jss370 MuiGrid-justify-xs-space-evenly">
          <p class="MuiTypography-root jss369 MuiTypography-body1">
            دانلود برنامه Bime
          </p>
          <div class="MuiGrid-root two">

            <a class="MuiButtonBase-root MuiButton-root MuiButton-outlined MuiButton-outlinedPrimary jss368"
               href="https://www.razi24.ir/download/BimeRequirement/Bime.exe">
             <span class="MuiButton-label">

              <img class="MuiSvgIcon-root" src="../../../../../assets/image/cloud-computing.png">
             </span>

            </a>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div class="card text-center  jss370 MuiGrid-justify-xs-space-evenly">
          <p class="MuiTypography-root jss369 MuiTypography-body1">
            دانلود installcheck
          </p>
          <div class="MuiGrid-root there">

            <a class="MuiButtonBase-root MuiButton-root MuiButton-outlined MuiButton-outlinedPrimary jss368"
               href="https://www.razi24.ir/download/BimeRequirement/INSTALLCHECK.exe">
             <span class="MuiButton-label">

              <img class="MuiSvgIcon-root" src="../../../../../assets/image/cloud-computing.png">
                            </span>

            </a>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div class="card text-center  jss370 MuiGrid-justify-xs-space-evenly">
          <p class="MuiTypography-root jss369 MuiTypography-body1">
            دانلود font
          </p>
          <div class="MuiGrid-root font">

            <a class="MuiButtonBase-root MuiButton-root MuiButton-outlined MuiButton-outlinedPrimary jss368"
               href="https://www.razi24.ir/download/BimeRequirement/font.rar">
             <span class="MuiButton-label">

              <img class="MuiSvgIcon-root" src="../../../../../assets/image/cloud-computing.png">
                            </span>

            </a>
          </div>
        </div>

      </div>
      <div class="col-md-12">
        <div class="card text-center  jss370 MuiGrid-justify-xs-space-evenly">
          <p class="MuiTypography-root jss369 MuiTypography-body1">
            دانلود سایر نیازمندی‌ها
          </p>
          <div class="MuiGrid-root others">
            <a class="MuiButtonBase-root MuiButton-root MuiButton-outlined MuiButton-outlinedPrimary jss368"
               href="https://www.razi24.ir/download/BimeRequirement/%D8%B3%D8%A7%DB%8C%D8%B1%D9%86%DB%8C%D8%A7%D8%B2%D9%85%D9%86%D8%AF%DB%8C%E2%80%8C%D9%87%D8%A7.rar">
             <span class="MuiButton-label">

              <img class="MuiSvgIcon-root" src="../../../../../assets/image/cloud-computing.png">
                            </span>

            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
