<div class="card">
  <div class="card-header">
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="card text-center">
          <p>
            فایل posconfig باراهنما
          </p>
          <div>

            <a href="https://www.razi24.ir/download/BimeRequirement/AyandehPOSConfig.rar">
              <img src="../../../../../assets/image/download.svg">
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          sadsads
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          sadsads
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          sadsads
        </div>
      </div>
    </div>
  </div>
</div>
