<div class="row login register">
  <div class="col-12 d-flex align-items-center justify-content-center">
    <div class="card border-grey border-lighten-3 px-1 py-1 m-0 w-50">
      <div class="card-header border-0" style="display: flex;flex-direction: column">
        <div class="text-center mb-1">
          <img src="../../../../assets/image/Layer2.png" style="width: 50px;">
        </div>
        <div class="font-large-1  text-center">
          بازیابی رمز عبور
        </div>
      </div>
      <div class="card-content">
        <div class="card-body">
          <form class="form-horizontal" (ngSubmit)="onSubmitForm(f)" #f='ngForm'>
            <div class="form-group position-relative has-icon-left">
              <label>شماره موبایل</label>
              <input type="text" class="form-control " name="mobileNumber" ngModel
                     placeholder="شماره موبایل" required>
            </div>
            <div class="row">
              <div class="col-md-6">
                <button type="submit"
                        class="btn text-center  btn-block btn-glow btn-bg-gradient-x-purple-blue   mb-1">
                  تایید
                </button>
              </div>
              <div class="col-md-6">

                <button type="button" (click)="onBack()"
                        class="btn text-center  btn-block btn-glow btn-danger-back mb-1">
                  بازگشت
                </button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>

  </div>
</div>

