<div class="card  pt-4">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card ">
        <div class="card-header">
          <div class="row">
            <div class="col-md-12 text-center">

              <img src="../../../../../../assets/image/list.png" class="w-50">
            </div>
          </div>
        </div>
        <div class="card-body">
          <form #f=ngForm>
            <div class="row">
              <div class="col-md-12 mt-2">
                <label> نوع استعلام</label>
                <mat-select [(ngModel)]="selectEstelam"
                            name="selectEstelam" (selectionChange)="onChange($event)">
                  <mat-option value="false" sele> شماره چاپی بیمه نامه</mat-option>
                  <mat-option value="true">کد یکتا بیمه نامه</mat-option>
                </mat-select>
              </div>
              <div class="col-md-12 mt-2" *ngIf="!selectInqueryCode">
                <label>شماره چاپی بیمه نامه</label>
                <input class="form-control" mask="00000000/00/000000" [showMaskTyped]="true" name="chapi" ngModel>
              </div>

              <div class="col-md-12 mt-2" *ngIf="selectInqueryCode">
                <div class="row">
                  <div class="col-md-12 mt-2">
                    <label>کد یکتا بیمه نامه در بیمه مرکزی</label>
                    <input class="form-control" mask="00000000000" [showMaskTyped]="true" name="yekte" ngModel>
                  </div>

                  <div class="col-md-12 mt-2" *ngIf="!token">
                    <label>کد ملی</label>
                    <input class="form-control" mask="0000000000" [showMaskTyped]="true" name="nationalCode" ngModel>

                  </div>
                </div>
              </div>
              <div class="col-md-12 mt-4 text-center">
                <button class="btn btn-outline-info estelam" (click)="postData(f,content)">
                  <span class="mr-2"> استعلام</span>
                  <i class="fa fa-search "></i>
                </button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
    <div class="col-md-4"></div>

  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header text-center">
    <div class="col-md-12 text-center">
      <h4 style="font-weight: bold; font-size: 15px;">گزارش نتیجه استعلام</h4>
    </div>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <div class="col-md-12 text-center">
      <button type="button" class="btn btn-outline-primary" (click)="modal.close('Save click')">بستن</button>
    </div>
  </div>
</ng-template>
