<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card ">
      <div class="card-header">
        <div class="row">
          <div class="col-md-12 text-center">

            <img src="../../../../../assets/image/correct.png" class="w-50">
          </div>
        </div>
      </div>
      <div class="card-body">
        <form #f=ngForm>
          <div class="row">
            <div class="col-md-12 mt-2">
              <label> نوع استعلام</label>
              <mat-select [(ngModel)]="selectEstelam"
                          name="selectEstelam" (selectionChange)="onChange($event)">
                <mat-option value="false" sele> شماره چاپی بیمه نامه</mat-option>
                <mat-option value="true">کد یکتا بیمه نامه</mat-option>
              </mat-select>
            </div>
            <div class="col-md-12 mt-2" *ngIf="!selectInqueryCode">
              <label>شماره چاپی بیمه نامه</label>
              <input class="form-control"  mask="00000000/00/000000" [showMaskTyped]="true">
            </div>

            <div class="col-md-12 mt-2" *ngIf="selectInqueryCode">
              <div class="row">
                <div class="col-md-12 mt-2">
                  <label>کد یکتا بیمه نامه در بیمه مرکزی</label>
                  <input class="form-control"  mask="00000000000" [showMaskTyped]="true">
                </div>

                <div class="col-md-12 mt-2">
                  <label>کد ملی</label>
                  <input class="form-control" mask="0000000000" [showMaskTyped]="true">

                </div>
              </div>
            </div>
            <div class="col-md-12 mt-4 text-center">
              <button class="btn btn-outline-info estelam">
                <span class="mr-2"> بررسی</span>
                <i class="fa fa-search "></i>
              </button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
  <div class="col-md-4"></div>

</div>
