<div class="card">
  <div class="card-body">
    <div class="col-md-4">
          <form #f=ngForm>
            <div class="row">
              <div class="col-md-12">
                <label>استان</label>
                <mat-select ngModel
                            name="ostan" required (ngModelChange)="getCity($event)">
                  <mat-option></mat-option>
                  <mat-option *ngFor="let item of ostan"
                              [value]="item.OstanCode">{{item.OstanName}}</mat-option>
                </mat-select>
              </div>
              <div class="col-md-12 mt-3">
                <label>شهر (ابتدا استان انتخاب شود)</label>
                <mat-select ngModel
                            name="city" required>
                  <mat-option></mat-option>
                  <mat-option *ngFor="let item of CityList"
                              [value]="item.CityCode">{{item.CityName}}</mat-option>
                </mat-select>
              </div>
              <div class="col-md-12 mt-3">
                <button type="submit" (click)="onFilter(f)" class="btn btn-info"> جستجو</button>
              </div>
            </div>
          </form>
    </div>
    <div class="col-md-8">
      <div class="svg-wrapper">

        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             viewBox="0 0 841.89 595.28" enable-background="new 0 0 841.89 595.28" xml:space="preserve">

		<svg class="map-border">
      			<use [attr.xlink:href]="absUrl + '#' + 'main-map.svg#map-border'"></use>

      <!--<use xlink:href="src/assets/map/main-map.svg#map-sea"></use>-->
		</svg>
          <!--src/assets/map/main-map.svg#map-border-->
          <svg class="map-sea">
          			<use [attr.xlink:href]="absUrl + '#' + 'main-map.svg#map-sea'"></use>

            <!--<use xlink:href="'src/assets/map/main-map.svg#map-sea'"></use>-->
		</svg>
          <svg class="map-island">
			<use [attr.xlink:href]="absUrl + '#' + 'main-map.svg#map-island'"></use>
		</svg>

          <!-- Start Province -->
          <a class="map-link" xlink:href="#khorasan-r">
			<svg class="map-province khorasan-r">
				<!--<use xlink:href="'src/assets/map/main-map.svg#khorasan-r'"></use>-->
			<use [attr.xlink:href]="absUrl + '#' + 'main-map.svg#khorasan-r'"></use>
      </svg>
		</a>

          <a class="map-link" xlink:href="#khorasan-j">
			<svg class="map-province khorasan-j">
				<!--<use xlink:href="'src/assets/map/main-map.svg#khorasan-j'"></use>-->
			<use [attr.xlink:href]="absUrl + '#' + 'main-map.svg#khorasan-j'"></use>
      </svg>
		</a>

          <a class="map-link" xlink:href="#kerman">
			<svg class="map-province kerman">
				<!--<use xlink:href="src/assets/map/main-map.svg#kerman"></use>-->
			<use [attr.xlink:href]="absUrl + '#' + 'main-map.svg#kerman'"></use>
      </svg>
		</a>

          <a class="map-link" xlink:href="#azarbaijan-sh">
			<svg class="map-province azarbaijan-sh">
        <use [attr.xlink:href]="absUrl + '#' + 'main-map.svg#azarbaijan-sh'"></use>
        <!--<use xlink:href="src/assets/map/main-map.svg#azarbaijan-sh"></use>-->
			</svg>
		</a>

          <a class="map-link" xlink:href="#azarbaijan-gh">
			<svg class="map-province azarbaijan-gh">
        <use [attr.xlink:href]="absUrl + '#' + 'main-map.svg#azarbaijan-gh'"></use>
        <!--<use xlink:href="src/assets/map/main-map.svg#azarbaijan-gh"></use>-->
			</svg>
		</a>

          <a class="map-link" xlink:href="#ardebil">
			<svg class="map-province ardebil">
        <use [attr.xlink:href]="absUrl + '#' + 'main-map.svg#ardebil'"></use>
        <!--<use xlink:href="src/assets/map/main-map.svg#ardebil"></use>-->
			</svg>
		</a>

          <a class="map-link" xlink:href="#sistan">
			<svg class="map-province sistan">
        <use [attr.xlink:href]="absUrl + '#' + 'main-map.svg#sistan'"></use>
        <!--<use xlink:href="src/assets/map/main-map.svg#sistan"></use>-->
			</svg>
		</a>

          <a class="map-link" xlink:href="#semnan">
			<svg class="map-province semnan">
        <use [attr.xlink:href]="absUrl + '#' + 'main-map.svg#semnan'"></use>
        <!--<use xlink:href="src/assets/map/main-map.svg#semnan"></use>-->
			</svg>
		</a>

          <a class="map-link" xlink:href="#hormozgan">
			<svg class="map-province hormozgan">
        <use [attr.xlink:href]="absUrl + '#' + 'main-map.svg#hormozgan'"></use>
        <!--<use xlink:href="src/assets/map/main-map.svg#hormozgan"></use>-->
			</svg>
		</a>

          <a class="map-link" xlink:href="#yazd">
			<svg class="map-province yazd">
        <use [attr.xlink:href]="absUrl + '#' + 'main-map.svg#yazd'"></use>
        <!--<use xlink:href="src/assets/map/main-map.svg#yazd"></use>-->
			</svg>
		</a>

          <a class="map-link" xlink:href="#khorasan-sh">
			<svg class="map-province khorasan-sh">
        <use [attr.xlink:href]="absUrl + '#' + 'main-map.svg#khorasan-sh'"></use>
        <!--<use xlink:href="src/assets/map/main-map.svg#khorasan-sh"></use>-->
			</svg>
		</a>

          <a class="map-link" xlink:href="#isfahan">
			<svg class="map-province isfahan">
        <use [attr.xlink:href]="absUrl + '#' + 'main-map.svg#isfahan'"></use>
        <!--<use xlink:href="src/assets/map/main-map.svg#isfahan"></use>-->
			</svg>
		</a>

          <a class="map-link" xlink:href="#fars">
			<svg class="map-province fars">
        <use [attr.xlink:href]="absUrl + '#' + 'main-map.svg#fars'"></use>
        <!--<use xlink:href="src/assets/map/main-map.svg#fars"></use>-->
			</svg>
		</a>

          <a class="map-link" xlink:href="#khoozestan">
			<svg class="map-province khoozestan">
        <use [attr.xlink:href]="absUrl + '#' + 'main-map.svg#khoozestan'"></use>
        <!--<use xlink:href="src/assets/map/main-map.svg#khoozestan"></use>-->
			</svg>
		</a>

          <a class="map-link" xlink:href="#tehran">
			<svg class="map-province tehran">
        <use [attr.xlink:href]="absUrl + '#' + 'main-map.svg#tehran'"></use>
        <!--<use xlink:href="src/assets/map/main-map.svg#tehran"></use>-->
			</svg>
		</a>

          <a class="map-link" xlink:href="#ghom">
			<svg class="map-province ghom">
        <use [attr.xlink:href]="absUrl + '#' + 'main-map.svg#ghom'"></use>
        <!--<use xlink:href="src/assets/map/main-map.svg#ghom"></use>-->
			</svg>
		</a>

          <a class="map-link" xlink:href="#kermanshah">
			<svg class="map-province kermanshah">
        <use [attr.xlink:href]="absUrl + '#' + 'main-map.svg#kermanshah'"></use>
        <!--<use xlink:href="src/assets/map/main-map.svg#kermanshah"></use>-->
			</svg>
		</a>

          <a class="map-link" xlink:href="#kordestan">
			<svg class="map-province kordestan">
        <use [attr.xlink:href]="absUrl + '#' + 'main-map.svg#kordestan'"></use>
        <!--<use xlink:href="src/assets/map/main-map.svg#kordestan"></use>-->
			</svg>
		</a>

          <a class="map-link" xlink:href="#zanjan">
			<svg class="map-province zanjan">
        <use [attr.xlink:href]="absUrl + '#' + 'main-map.svg#zanjan'"></use>
        <!--<use xlink:href="src/assets/map/main-map.svg#zanjan"></use>-->
			</svg>
		</a>

          <a class="map-link" xlink:href="#gilan">
			<svg class="map-province gilan">
        <use [attr.xlink:href]="absUrl + '#' + 'main-map.svg#gilan'"></use>
        <!--<use xlink:href="src/assets/map/main-map.svg#gilan"></use>-->
			</svg>
		</a>

          <a class="map-link" xlink:href="#lorestan">
			<svg class="map-province lorestan">
        <use [attr.xlink:href]="absUrl + '#' + 'main-map.svg#lorestan'"></use>
        <!--<use xlink:href="'src/assets/map/main-map.svg#lorestan'"></use>-->
			</svg>
		</a>

          <a class="map-link" xlink:href="#markazi">
			<svg class="map-province markazi">
        <use [attr.xlink:href]="absUrl + '#' + 'main-map.svg#markazi'"></use>
        <!--<use xlink:href="'src/assets/map/main-map.svg#markazi'"></use>-->
			</svg>
		</a>

          <a class="map-link" xlink:href="#hamedan">
			<svg class="map-province hamedan">
        <use [attr.xlink:href]="absUrl + '#' + 'main-map.svg#hamedan'"></use>
        <!--<use xlink:href="'src/assets/map/main-map.svg#hamedan'"></use>-->
			</svg>
		</a>

          <a class="map-link" xlink:href="#mazandaran">
			<svg class="map-province mazandaran">
        <use [attr.xlink:href]="absUrl + '#' + 'main-map.svg#mazandaran'"></use>
        <!--<use xlink:href="'src/assets/map/main-map.svg#mazandaran'"></use>-->
			</svg>
		</a>

          <a class="map-link" xlink:href="#ilam">
			<svg class="map-province ilam">
        <use [attr.xlink:href]="absUrl + '#' + 'main-map.svg#ilam'"></use>
        <!--<use xlink:href="'src/assets/map/main-map.svg#ilam'"></use>-->
			</svg>
		</a>

          <a class="map-link" xlink:href="#ghazvin">
			<svg class="map-province ghazvin">
        <use [attr.xlink:href]="absUrl + '#' + 'main-map.svg#ghazvin'"></use>
        <!--<use xlink:href="'src/assets/map/main-map.svg#ghazvin'"></use>-->
			</svg>
		</a>

          <a class="map-link" xlink:href="#alborz">
			<svg class="map-province alborz">
        <use [attr.xlink:href]="absUrl + '#' + 'main-map.svg#alborz'"></use>
        <!--<use xlink:href="'src/assets/map/main-map.svg#alborz'"></use>-->
			</svg>
		</a>

          <a class="map-link" xlink:href="#booshehr">
			<svg class="map-province booshehr">
        <use [attr.xlink:href]="absUrl + '#' + 'main-map.svg#booshehr'"></use>
        <!--<use xlink:href="'src/assets/map/main-map.svg#booshehr'"></use>-->
			</svg>
		</a>

          <a class="map-link" xlink:href="#kohkilooyeh">
			<svg class="map-province kohkilooyeh">
        <use [attr.xlink:href]="absUrl + '#' + 'main-map.svg#kohkilooyeh'"></use>
        <!--<use xlink:href="'src/assets/map/main-map.svg#kohkilooyeh'"></use>-->
			</svg>
		</a>

          <a class="map-link" xlink:href="#charmahal">
			<svg class="map-province charmahal">
        <use [attr.xlink:href]="absUrl + '#' + 'main-map.svg#charmahal'"></use>
        <!--<use xlink:href="'src/assets/map/main-map.svg#charmahal'"></use>-->
			</svg>
		</a>

          <a class="map-link" xlink:href="#golestan">
			<svg class="map-province golestan">
        <use [attr.xlink:href]="'#' + 'main-map.svg#golestan'"></use>
        <!--<use xlink:href="'src/assets/map/main-map.svg#golestan'"></use>-->
			</svg>
		</a>
          <!-- End province -->

          <svg class="map-sea-names">
          <use [attr.xlink:href]="absUrl + '#' + 'main-map.svg#map-sea-names'"></use>
            <!--<use xlink:href="'src/assets/map/main-map.svg#map-sea-names'"></use>-->
		</svg>
          <svg class="map-province-names">
          <use [attr.xlink:href]="absUrl + '#' + 'main-map.svg#map-province-names'"></use>
            <!--<use xlink:href="'src/assets/map/main-map.svg#map-province-names'"></use>-->
		</svg>

	</svg><!-- End svg -->
      </div> <!-- End svg-wrapper -->

    </div>
  </div>
</div>
