<li class="dropdown dropdown-list-toggle">
  <a data-toggle="dropdown"
     class="nav-link notification-toggle nav-link-lg">
    <i class="fa fa-bell" data-feather="bell"></i>
    <span class="badge headerBadge2" *ngIf="message.length > 0">
              {{message.length }}
    </span>
  </a>
  <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
    <div class="dropdown-header">
      اطلاعیه

    </div>
    <div class="dropdown-list-content dropdown-list-icons" style="cursor: pointer;"
         (click)="readNotification(item.ID, content)"
         *ngFor="let item of message" >
      <a class="dropdown-item dropdown-item-unread" >
        <span
          class="dropdown-item-icon bg-primary text-white " >
          <i class="fa fa-code"></i>
        </span>
        <span class="dropdown-item-desc" style="margin: auto 10px;">
        {{item.Comment}}
          <!--<span class="time">جدید</span>-->
        </span>
      </a>

    </div>
    <div class="dropdown-footer text-center">
    </div>
  </div>
</li>


<ng-template #content let-modal>
  <div class="modal-header text-center">
    <div class="col-md-12 text-center">
      <h4 style="font-weight: bold; font-size: 15px;">مشاهده پیام</h4>
    </div>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <div class="col-md-12 text-center">
      <button type="button" class="btn btn-outline-primary" (click)="modal.close('Save click')">بستن</button>
    </div>
  </div>
</ng-template>
