<li class="dropdown dropdown-list-toggle">
  <a data-toggle="dropdown"
     class="nav-link notification-toggle nav-link-lg">
    <i class="fa fa-bell" data-feather="bell"></i>
    <span class="badge headerBadge2">
                3 </span> </a>
  <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
    <div class="dropdown-header">
      اطلاعیه
      <!--<div class="float-right">-->
      <!--<a>خوانده شده</a>-->
      <!--</div>-->
    </div>
    <div class="dropdown-list-content dropdown-list-icons">
      <!--<a class="dropdown-item dropdown-item-unread" (click)="onGetGrid()">-->
        <!--<span-->
          <!--class="dropdown-item-icon bg-primary text-white">-->
          <!--<i class="fa fa-code"></i>-->
        <!--</span>-->
        <!--<span class="dropdown-item-desc">به روزرسانی الگو اکنون در دسترس است!-->
          <!--<span class="time">جدید</span>-->
        <!--</span>-->
      <!--</a>-->
     <!---->
    </div>
    <div class="dropdown-footer text-center">
      <!--<a>مشاهده همه <i class="fas fa-chevron-left"></i></a>-->
    </div>
  </div>
</li>
