<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <a> <img style="height: 55px" alt="تصویر" src="../../../../../../assets/image/logo.gif" class="header-logo">
      </a>
      <a> <img alt="تصویر" style="height: 45px" src="../../../../../../assets/image/hamRaz.jpeg" class="header-logo">
      </a>
    </div>
    <div class="sidebar-user" >
      <div class="sidebar-user-picture " *ngIf="hasLogin">
        <i class="fa fa-user"></i>
      </div>
      <div class="sidebar-user-details" *ngIf="hasLogin">
        <div class="user-name">کاربر شماره یک</div>
        <div class="user-role">مدیر</div>
      </div>
    </div>
    <ul class="sidebar-menu">
      <li *ngFor="let item of menu ;index as i" class="dropdown" >
        <a class="nav-link " [routerLink]="item?.path"
           [ngClass]="{'has-dropdown': item.hasChile === true}"
          >
          <i class="{{item.icon}}"></i>
          <span>{{item.title}}</span>
        </a>
        <ul class="dropdown-menu sidebar-menu">
          <li *ngFor="let sub of item.subMenu" class="dropdown">
            <a [routerLink]="sub?.path"
               [routerLinkActive]="'active'" [ngClass]="{'has-dropdown': sub.hasChile === true}"
               class="nav-link  sec-hasDrop">{{sub.title}}
            </a>
            <ul class="dropdown-menu">
              <li *ngFor="let subs of sub?.subMenu">
                <a [routerLink]="subs.path" [routerLinkActive]="'active'" class="nav-link">{{subs.title}}
                </a>
              </li>
            </ul>
          </li>

        </ul>
      </li>
    </ul>

  </aside>
</div>
<!--<div class="sidebar-faraname">-->
<!--<p> تولید نرم افزار :-->
<!--<span (click)="onClick()">ارتباطات نوین فرانام</span>-->
<!--</p>-->
<!--</div>-->
