<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <a> <img style="height: 55px" alt="تصویر" src="../../../../../../assets/image/logo.gif" class="header-logo">
      </a>
      <a> <img alt="تصویر" style="height: 45px" src="../../../../../../assets/image/hamRaz.jpeg" class="header-logo">
      </a>
    </div>
    <div class="sidebar-user">
      <div class="sidebar-user-picture ">
        <!--<img alt="تصویر" src="assets/img/userbig.png">-->
        <i class="fa fa-user"></i>
      </div>
      <div class="sidebar-user-details">
        <div class="user-name">کاربر شماره یک</div>
        <div class="user-role">مدیر</div>
      </div>
    </div>
    <ul class="sidebar-menu">
      <li class="dropdown active">
        <a class="nav-link"><i class="fa fa-home"></i><span> مناقصات</span></a>
      </li>
      <li class="dropdown">
        <a class="nav-link"><i class="fa fa-link"></i><span>Issue Tracker</span></a>
      </li>
      <li class="dropdown">
        <a class="nav-link "><i class="fa fa-list"></i><span>سوالات متداول</span></a>
      </li>

    </ul>
    <div class="sidebar-faraname">
      <p> تولید نرم افزار :
        <span (click)="onClick()">ارتباطات نوین فرانام</span>
      </p>
    </div>
  </aside>
</div>
