<div class="card ">
  <div class="card-header ">
    <button class="btn btn-danger" (click)="onBack()">
      <i class="fa fa-arrow-right"></i>
      <span class="ml-2">بازگشت</span>
    </button>
  </div>
  <div class="card-body ">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th class="text-center">#</th>
        <th>تاریخ</th>
        <th>کاربر</th>
        <th>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="p-0 text-center">
          1
        </td>
        <td>1398-11-25</td>

        <td class="text-truncate">
          کاربر شماره یک
        </td>
        <td>
          <button class="btn btn-action bg-success mr-1" data-toggle="tooltip" title="مشاهده پیام" (click)="onOpenModal(modal)">
            <i class="fas fa-envelope-open"></i>
          </button>
        </td>
      </tr>

      </tbody>
    </table>

  </div>
</div>


<ng-template #modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">پیام دریافتی</h4>
  </div>
  <div class="modal-body">

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger m-1 w-100" (click)="onCloseModal(modal)">بستن</button>
  </div>
</ng-template>
